<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <title>Empresas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}" >
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>
</head>
<body>
    <nav th:replace="layout/plantilla :: nav"></nav>
    <div class="container">
        <h2 class="text-center my-3">Lista de empresas</h2>
        <div class="d-grid my-3 justify-content-end">
                <a class="btn btn-primary" role="button" th:href="@{/empresas/crearEmpresa}">Nueva Empresa</a>
        </div>

        <table class="table table-striped table-hover my-3">
            <tr>
                <th>Nombre</th>
                <th>NIT</th>
                <th>Direccion</th>
                <th>telefono</th>
                <th>Fecha Creacion</th>
                <th>Fecha Actualizacion</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr th:each="empresa : ${empresas}">
                <td th:text = "${empresa.nombreEmpresa}">Nombre</td>
                <td th:text = "${empresa.NIT}">Documento</td>
                <td th:text = "${empresa.direccionEmpresa}">Correo</td>
                <td th:text = "${empresa.telefonoEmpresa}">Rol</td>
                <td th:text = "${empresa.fechaCr}">Fecha Creacion</td>
                <td th:text = "${empresa.fechaUpd}">Fecha Actualizacion</td>
                <td><a class="btn btn-warning" role="button" th:href="@{/empresas/editarEmpresa/}+${empresa.id}">Editar</a></td>
                <td><a class="btn btn-danger" role="button" th:href="@{/empresas/eliminarEmpresa/}+${empresa.id}">Eliminar</a></td>
            </tr>
        </table>
    </div>
<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>